*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
:root{
    --bg:#7DC9e7;
    --color:#fff;

}
.contenair{
    background-color:var(--bg) ;
    color:var(--color);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    background-color: var(--color);
    height: 500px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.64);
    overflow: hidden;
    border: 0.1px gray ;
}
.Log{
    background-color:var(--bg) ;
    /*width: 390px;
    height: 300px;*/
    width: 101.5%;
    height: 28%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 34px 0px;
    -moz-border-radius: 0px 0px 34px 0px;
    -webkit-border-radius: 0px 0px 34px 0px;
    transform: translate(-1px,-39%);
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    color:var(--color);
    font-size: 31px;
    letter-spacing: 2px;
    transform: translate(-50%,-50%);
}
.forgot{
    
    background-color:var(--bg);
    width: 103%;
    height: 15%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px 0px 0px 0px;
    -moz-border-radius: 34px 0px 0px 0px;
    -webkit-border-radius: 34px 0px 0px 0px;
    bottom: 0px;
    left: 0px;
    transform: translate(-1px,76%);
    border:none;

}

#id{
    width: 80%;
    border-radius: 50px;
    border:none;
    background-color: var(--bg);
    height: 35px;
    
    padding: 10px 35px;
    color: var(--color);
    font-weight: bold;

}
#mdp{
    width: 80%;
    border-radius: 50px;
    box-shadow: 0 0 0 0;
    height: 35px;
    border:none;
    background-color: var(--bg);
    
    padding: 10px 35px;
    color: var(--color);
    font-weight: bold;

}
button{
    background-color: var(--bg);
    border: none;
    padding: 10px;
    width: 95px;
    border-radius: 35px;
    color: var(--color);
    font-weight: bold;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.name ,.passwd{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-bottom: 40px;
}
.fa-user{
    color: #fff;
    position: absolute;
    top: 15%;
    left: 17%;
    transform: translate(-10px,10%);
}
.fa-lock{
    color: #fff;
    position: absolute;
    top: 15%;
    left: 17%;
    transform: translate(-10px,10%);
}
p{
    font-weight: bold;
}

#id:hover {
    transform: scale(1.05);

    
}
#mdp:hover {
    transform: scale(1.05);
    
}

.test{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-bottom: 40px;
    
    
    
    transition: 0.5s ease;
}
#zz{
    width: 80%;
    border-radius: 50px;
    box-shadow: 0 0 0 0;
    height: 35px;
    border:none;
    background-color: var(--bg);
    
    padding: 10px 35px;
    color: var(--color);
    font-weight: bold;
    transition: 0.2s  ease;
}
#zzicon{
    color: #fff;
    position: absolute;
    top: 15%;
    left: 17%;
    transform: translate(-10px,10%);
    z-index: 5;
    transition: 0.2s  ease;

}

.test:hover #zzicon{
    
    left: 13%;
}

#zz:hover  {
    transform: scale(1.1);
}
/*#zz:hover {
    transform: scale(1.1);
}*/